.navbar {
  width: 100%;
  height: 65px;
  background-color: #1a1e33;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-family: "Noto Sans KR", sans-serif;
  box-shadow: -1px 8px 24px -13px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px 8px 24px -13px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 8px 24px -13px rgba(0, 0, 0, 0.75);
  margin-bottom: 15px;
}

.logo {
  width: 38px;
  margin-right: 20px;
}

.menu_link {
  padding: 3%;
  text-decoration: none;
  color: white;
  transition: ease-in-out .3s;
}

.menu_link:hover{
  color: #48AED7;
}